# Test moving average implementations

In [1]:
# Imports.
import datetime
import random
import numpy as np
import pandas as pd

from stocks.analysis.moving_average import simple_moving_average, exp_moving_average

# ---
from IPython.display import display

In [2]:
# Test data source.
num_points = 10
base = datetime.datetime.today()
date_list = [base - datetime.timedelta(days=x) for x in range(num_points)]

df = pd.DataFrame.from_dict({
    'date': date_list,
    'price': [random.randint(50, 100) for i in range(num_points)],
    'volume': [random.randint(1, 10) for i in range(num_points)]
}).sort_values('date')

display(df)

                        date  price  volume
9 2020-03-11 16:32:20.837058     52       3
8 2020-03-12 16:32:20.837058     50       2
7 2020-03-13 16:32:20.837058     70       4
6 2020-03-14 16:32:20.837058     85       9
5 2020-03-15 16:32:20.837058     64       7
4 2020-03-16 16:32:20.837058     90       7
3 2020-03-17 16:32:20.837058     97       5
2 2020-03-18 16:32:20.837058     69       2
1 2020-03-19 16:32:20.837058     71       2
0 2020-03-20 16:32:20.837058     79       4

In [3]:
display(exp_moving_average(df, ['price'], [3, 5]))

                        date  price  volume      EMA_3      EMA_5
9 2020-03-11 16:32:20.837058     52       3  52.000000  52.000000
8 2020-03-12 16:32:20.837058     50       2  50.666667  50.800000
7 2020-03-13 16:32:20.837058     70       4  61.714286  59.894737
6 2020-03-14 16:32:20.837058     85       9  74.133333  70.323077
5 2020-03-15 16:32:20.837058     64       7  68.903226  67.895735
4 2020-03-16 16:32:20.837058     90       7  79.619048  75.972932
3 2020-03-17 16:32:20.837058     97       5  88.377953  83.417678
2 2020-03-18 16:32:20.837058     69       2  78.650980  78.416653
1 2020-03-19 16:32:20.837058     71       2  74.818004  75.878410
0 2020-03-20 16:32:20.837058     79       4  76.911046  76.937303